# AppHtml
**/apphtml/global.asa

# AppSrc
**/appsrc/**/*.prn
**/appsrc/**/*.dep
**/appsrc/**/*.exe.manifest
**/appsrc/**/*.err
**/appsrc/**/*.fld
**/appsrc/**/*.pbg
**/appsrc/**/*.pdp
**/appsrc/**/*.pkd
**/appsrc/**/*.prn
**/appsrc/**/*.prp

# Data
**/data/**/*.log
**/data/**/*.dat
**/data/**/*.vld
**/data/**/*.k*
**/data/**/*.bad
**/data/**/*.hdr
**/data/**/*.cch

# DDSrc
**/ddsrc/**/*.def

# IdeSrc
**/idesrc/*.dsk
**/idesrc/*.loc
**/idesrc/*.mtd

# Programs
**/programs/*.dbg
**/programs/*.exe
**/programs/*.exe.manifest
**/programs/*.log

